
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Jupyter Notebook Checkpoints
.ipynb_checkpoints

# Virtual Environment folders
venv/
env/
.venv/
ENV/

# VS Code / PyCharm settings
.vscode/
.idea/

# macOS / Linux / Windows files
.DS_Store
Thumbs.db

# Python virtual environment config
pip-log.txt
pip-delete-this-directory.txt

# PyCharm project files
*.iml
*.ipr
*.iws

# Colab metadata
*.nbconvert.ipynb
